@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "微软雅黑"; }

.wrapper {
  overflow: hidden; }

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.01rem solid #EAEAEA; }
  header > div > div:nth-child(1) {
    width: 35%;
    padding: 0.16rem 0 0 0.18rem; }
    header > div > div:nth-child(1) img {
      width: 100%; }
  header > div > div:nth-child(2) {
    font-size: 0.36rem;
    color: #000;
    flex-grow: 1;
    margin-left: 8%; }
  header > div > div:nth-child(3) {
    padding-right: 0.16rem;
    display: flex;
    width: 9%;
    text-align: center;
    justify-content: space-between;
    font-size: 0.22rem;
    color: #999999; }
    header > div > div:nth-child(3) p {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      header > div > div:nth-child(3) p span:nth-child(1) {
        font-size: 0.45rem;
        display: inline-block; }

.banner {
  width: 100%; }
  .banner ul {
    display: flex;
    flex-direction: column;
    padding: 0 0.2rem; }
    .banner ul li {
      width: 100%;
      padding: 0.36rem 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 0.3rem;
      border-bottom: 0.02rem solid #EAEAEA; }
      .banner ul li > div:nth-child(1) {
        display: flex;
        justify-content: space-between; }
        .banner ul li > div:nth-child(1) > div:nth-child(1) {
          display: flex;
          align-items: center; }
          .banner ul li > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
            width: 0.6rem;
            height: 0.6rem; }
            .banner ul li > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) img {
              width: 100%; }
          .banner ul li > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
            margin-left: 0.1rem;
            font-size: 0.28rem;
            color: #39C894; }
        .banner ul li > div:nth-child(1) > div:nth-child(2) {
          font-size: 0.28rem;
          color: #999; }
      .banner ul li > div:nth-child(2) {
        padding: 0.36rem 0;
        font-size: 0.36rem;
        color: #000; }
  .banner ol {
    display: flex;
    width: 100%;
    font-size: 0.36rem;
    padding: 0.36rem 0;
    height: 0.82rem;
    line-height: 0.82rem;
    width: 94%;
    margin: 0 3%; }
    .banner ol li {
      width: 33.3%;
      text-align: center; }
    .banner ol li:nth-child(1), .banner ol li:nth-child(3) {
      background: #39C894;
      color: white; }
    .banner ol li:nth-child(2) {
      background: white;
      color: #000; }

.banner_text {
  padding: 0.36rem 3%;
  border-top: 0.18rem solid #eaeaea;
  border-bottom: 0.18rem solid #eaeaea; }
  .banner_text p {
    font-size: 0.28rem;
    color: #333;
    text-indent: 2em;
    Word-spacing: 0.01rem; }

.footer {
  width: 100%; }
  .footer .icon-backtop {
    position: fixed;
    font-size: 0.94rem;
    color: #9c9c9c;
    right: 3%;
    bottom: 10%; }
  .footer > p:nth-child(2) {
    display: flex;
    width: 50%;
    margin: 0.4rem auto;
    font-size: 0.28rem;
    align-items: center; }
    .footer > p:nth-child(2) span:nth-child(1) {
      font-size: 0.32rem;
      color: #39C894;
      margin-right: 3%; }
  .footer > div:nth-child(3) {
    width: 100%;
    display: flex;
    border-bottom: 0.03rem solid #EAEAEA; }
    .footer > div:nth-child(3) > p {
      text-align: center;
      width: 25%;
      font-size: 0.28rem;
      margin: 0.2rem 0;
      border-right: 0.02rem solid #EAEAEA; }
    .footer > div:nth-child(3) > p:nth-child(1) {
      color: #39C894; }
  .footer > div:nth-child(4) {
    width: 100%;
    text-align: center;
    font-size: 0.28rem;
    padding: 0.25rem 0; }

.icon-pencle {
  font-size: 0.44rem;
  color: white;
  width: 1rem;
  height: 1rem;
  text-align: center;
  position: fixed;
  right: 3%;
  bottom: 24%;
  background: #1B9AF7;
  border-radius: 50%;
  line-height: 1rem; }

/*# sourceMappingURL=style.css.map */
