@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "微软雅黑"; }

.wrapper {
  overflow: hidden; }

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header > div > div:nth-child(1) {
    width: 35%;
    padding: 0.16rem 0 0 0.18rem; }
    header > div > div:nth-child(1) img {
      width: 100%; }
  header > div > div:nth-child(2) {
    font-size: 0.36rem;
    color: #000;
    flex-grow: 1;
    margin-left: 8%; }
  header > div > div:nth-child(3) {
    padding-right: 0.16rem;
    display: flex;
    width: 18%;
    text-align: center;
    justify-content: space-between;
    font-size: 0.22rem;
    color: #999999; }
    header > div > div:nth-child(3) p {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      header > div > div:nth-child(3) p span:nth-child(1) {
        font-size: 0.45rem;
        display: inline-block; }

.banner {
  position: relative;
  width: 100%; }
  .banner img {
    width: 100%; }
  .banner img:nth-child(2), .banner img:nth-child(3), .banner img:nth-child(4) {
    margin-top: -3.7%; }
  .banner p {
    position: absolute;
    font-size: 0.28rem;
    color: #000; }
  .banner p:nth-child(1), .banner p:nth-child(6), .banner p:nth-child(11) {
    font-size: 0.36rem; }
  .banner p:nth-child(1) {
    top: 9.9%;
    left: 12%;
    color: #ff4351; }
  .banner p:nth-child(2) {
    top: 14.8%;
    left: 22.5%; }
  .banner p:nth-child(3) {
    top: 20%;
    left: 52%; }
  .banner p:nth-child(4) {
    top: 25.5%;
    left: 22.5%; }
  .banner p:nth-child(5) {
    top: 30.7%;
    left: 52%; }
  .banner p:nth-child(6) {
    top: 39%;
    left: 62%;
    color: #1B9AF7; }
  .banner p:nth-child(7) {
    top: 44%;
    left: 52%; }
  .banner p:nth-child(8) {
    top: 49.5%;
    left: 22.5%; }
  .banner p:nth-child(9) {
    top: 55%;
    left: 52%; }
  .banner p:nth-child(10) {
    top: 60%;
    left: 22.5%; }
  .banner p:nth-child(11) {
    top: 68.8%;
    left: 12%;
    color: #7B72E9; }
  .banner p:nth-child(12) {
    top: 73.5%;
    left: 22.5%; }
  .banner p:nth-child(13) {
    top: 79%;
    left: 50%; }
  .banner p:nth-child(14) {
    top: 84.3%;
    left: 22.5%; }
  .banner p:nth-child(15) {
    top: 89.5%;
    left: 50%; }

.banner_text {
  padding: 0.36rem 3%;
  border-bottom: 0.18rem solid #eaeaea; }
  .banner_text p {
    font-size: 0.28rem;
    color: #333;
    text-indent: 2em;
    Word-spacing: 0.01rem; }

.footer {
  width: 100%; }
  .footer .icon-backtop {
    position: fixed;
    font-size: 0.94rem;
    color: #9c9c9c;
    right: 3%;
    bottom: 10%; }
  .footer > p:nth-child(2) {
    display: flex;
    width: 50%;
    margin: 0.4rem auto;
    font-size: 0.28rem;
    align-items: center; }
    .footer > p:nth-child(2) span:nth-child(1) {
      font-size: 0.32rem;
      color: #39C894;
      margin-right: 3%; }
  .footer > div {
    width: 100%;
    display: flex; }
    .footer > div > p {
      text-align: center;
      width: 25%;
      font-size: 0.28rem; }
    .footer > div > p:nth-child(1) {
      color: #39C894; }

.logo {
  width: 100%;
  height: 1.06rem;
  position: relative; }
  .logo > div:nth-child(1) {
    width: 100%;
    background: #000;
    opacity: 0.8;
    display: flex; }
    .logo > div:nth-child(1) > div:nth-child(1) {
      height: 0.5rem;
      width: 0.5rem; }
      .logo > div:nth-child(1) > div:nth-child(1) img {
        width: 100%;
        float: left; }
    .logo > div:nth-child(1) > div:nth-child(2) {
      margin-left: 3%;
      width: 55%; }
      .logo > div:nth-child(1) > div:nth-child(2) img {
        width: 100%; }
    .logo > div:nth-child(1) > div:nth-child(3) {
      margin-left: 3%; }
      .logo > div:nth-child(1) > div:nth-child(3) button {
        position: absolute;
        right: 10%;
        top: 25%;
        width: 1.75rem;
        height: 0.6rem;
        background: #feb605;
        font-size: 0.24rem;
        border: none;
        color: white;
        border-radius: 0.5rem; }

/*# sourceMappingURL=style.css.map */
