@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
html,body{
    width: 100%;
    height: 100%;
    list-style: none;
}
header{
    width: 16rem;
    height: 2.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #999;
    .sw{
        font-size: 0.7rem;
    }
    img{
        height: 60%;
        margin-top: 0.5rem;
        margin-left: 0.6rem;
        margin-bottom: 0.5rem;
    }
    div{
        margin: 0.2rem;
        span{
            width: 1.8125rem;
            height: 1.8125rem;
            color: #999999;
            font-size: 0.8125rem !important;
            margin-left: 0.15rem;
        }
        p{
            font-size: 0.45rem;
            padding-left: 0.125rem;
            color: #999;
        }
    }
   
}
aside{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
    position: relative;
    .dd{
        width:100%;
        height: 7rem;
        position: absolute;
        background-color: #000000;
        opacity: 0.7;
    }
    .asd{
        text-align: center;
        background-color: white;
        border-bottom: 0.01rem solid #cacaca;
        .c1{
            width: 90%;
            margin-left: 0.3rem;
            display: flex;
            font-size: 0.5rem;
            justify-content: space-between;
            .cont{
                margin-top: 0.36rem;
                margin-left: 0.4rem;
                font-size: 0.5rem;
                color:#39c991;
                display: flex;
                align-items: center;
                .yuan{
                    width:1.2rem;
                    height:1.2rem;
                    img{
                        width: 100%;
                    }
                }
            }
            .cont1{
                margin-left: 0.2rem;  
            }
            .data{
                color:#999;
                font-size:0.5rem;
                margin-top: 0.52rem;
                margin-left: 2.5rem;
            }
        }
        .zhuangxiu{
            color:#000;
            font-size: 0.76rem;
            margin-top: 0.36rem;
            margin-bottom: 0.36rem;
        }
    }
    #xie{
        width:100%;
        background-color: #F4F4F4;
        height:6.3rem;
        line-height: 6.3rem;
        text-align: center;
        font-size: 0.7rem;
        span{
            padding-top: 1rem;
        
        }
    }
    #over{
        width:100%;
        background-color: #D2D6DA;
        ul{
            display: flex;
            justify-content: space-around;
            padding-bottom: 0.2rem;
            li{
                margin-top: 0.3rem;
                border-radius:0.1rem;
                text-align: center;
                line-height:1.1rem;
                width:1rem;
                height:1.1rem;
                background-color: white;
                font-weight: bold;
                box-shadow:180reg 180reg 0.2rem black;
                font-size: 0.5rem;
            }
            .l{
                width:6rem;
                background-color: white;
                font-size: 0.5rem;
            }
            .ll{
                width:1.8rem;
                font-size: 0.5rem;
                background-color: #adb4bd; 
            }
            .q{
                font-size: 0.5rem;
            }
            .x{
                width: 1.2rem;
                font-size: 0.5rem;
                background-color: #adb4bd;
            }
        }
    }
}
.name{
    width: 100%;
    border-top: 0.368rem solid #f4f4f4;
    p{
        font-size: 0.573rem;
        text-indent: 2em;
        margin:auto 8px;
        color: #666;
        padding-top: 0.73rem;
        margin-bottom: 0.73rem;
        line-height: 1rem;
    }
}
.tal{
    width: 100%;
    border-top: 0.368rem solid #f4f4f4;
    color: #666;
    .tal_a{
        margin-top: 0.3rem;
        text-align: center;
        font-size: 0.57rem !important;
        margin-bottom: 0.4rem;
        #s1{
            font-size: 0.57rem !important; 
            color: #39C893;
        }
    }
    .tal_b{
        width: 100%;
        display: flex;
        justify-content: space-around;
        font-size: 0.573rem;
    }
}
.footer{
    width: 100%;
    margin: 0;
    img{
        float: left;
        width: 100%;
    }
}
